<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css"> 
    <title> harmonie</title>
    <link rel="icon" href="../../assets/images/brand/capital.jpg" type="image/x-icon"/>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- flipTimer CSS -->
<link rel="stylesheet" href="css/flipTimer.css">
<!-- flipTimer JS -->
<script src="js/jquery.flipTimer.js"></script>
	<!-- Demo CSS -->
	<link rel="stylesheet" href="css/demo.css">

</head>
<body> 
  
    <div class="container-login100">
  
      <div class="wrap">
        <button type="button" class="btn btn-primary"><a href="../Agent/Agent.html">Retour</a></button>
     
        <div class="wrap-login100 p-t-50 p-b-90 p-l-50 p-r-50">
           <h2>En attente d'un appel</h2>
          
            </header>
        <main>
         <article>
         
          <div class="flipTimer">
            <div class="hours"></div>
            <div class="minutes"></div>
            <div class="seconds"></div>
          </div> 
        </article>
        </div>
    </div>
        
        <img class="fit-picture"
            src="image/15.png"
            alt="Grapefruit slice atop a pile of other slices">
    </div> 
    <footer class="credit">Author: Andrew Tait - Distributed By: <a title="Awesome web design code & scripts" href="https://www.codehim.com?source=demo-page" target="_blank">CodeHim</a></footer>

<script>
$(document).ready(function(){
	$('.flipTimer').flipTimer({ direction: 'up' });
});
</script>

</body>
</html>

